{% extends 'blog/main.html' %} {% block title %}About Page{% endblock title %}
{% block content %}
<div class="ml-[15rem]">
  <h1 class="text-green-500 text-2xl md:text-3xl lg:text-4xl font-bold p-4">
    About Page
  </h1>
  <div class="ml-[1rem] w-[50vw] bg-gray-600 text-white p-2">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur quis
      rerum magnam? Et hic in, ad obcaecati deleniti, aut qui ex possimus
      tempora quia magni velit eligendi voluptas quos debitis.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque molestias
      voluptate et, laborum quaerat dolorum quasi aliquid a nemo maiores omnis
      earum repellat quam perferendis eos sunt eius aliquam ut minima blanditiis
      voluptates. Ea, facere debitis, asperiores perspiciatis temporibus
      incidunt labore explicabo dolore dolores consequatur excepturi. Provident,
      harum tempore, magni alias dolore non, commodi minus voluptatum eligendi
      suscipit laborum quidem iusto. Illum, temporibus totam nesciunt doloremque
      quibusdam ad ipsum impedit quasi eum ipsa aspernatur quos enim expedita
      repellat dignissimos laborum asperiores vero minima aperiam optio.
      Molestiae, consequuntur qui. Ducimus eos asperiores fugit nihil nesciunt
      non in ipsum perspiciatis perferendis exercitationem cum expedita vitae
      corporis, id tempora nulla ratione. Sint error veritatis deserunt possimus
      asperiores quae recusandae accusamus illum perferendis reprehenderit?
      Nostrum quo temporibus voluptate officiis quia! Ea eveniet vitae iste
      dolorum. Atque cumque reiciendis in quis iste dignissimos quisquam hic
      eveniet velit, nulla sequi perferendis corrupti possimus quae aliquid.
      Fuga, magni, reiciendis aperiam explicabo laborum blanditiis perferendis
      similique nulla quam vitae cupiditate harum nihil, ut necessitatibus
      voluptatem! Sint, voluptates quo? Possimus placeat ea obcaecati blanditiis
      ullam pariatur facere deleniti repellendus?
    </p>
  </div>
</div>

{% endblock content %}
